# Airflow admin bootstrap credentials
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Replace in production-like environments
AIRFLOW_WEBSERVER_SECRET_KEY=change_me

# Hostname advertised by Kafka to host clients
# Use localhost for local development
KAFKA_HOST=localhost
